/*
header {
    background-color: red;
}

main {
    background: purple;
}

nav {
    background-color: orange;
}

.content-container {
    background-color: green;
}

footer {
    background-color: blue;
}
*/